/*General*/
*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo{
    height: 14px;
    vertical-align: middle;
    display: inline-block;
}
a {
    color: initial;
    text-decoration: none;
}
  
  a:active {
    color: initial;
}
  
  a:visited {
    color: initial;
}

/*Nav*/
.nav{
    padding: 24px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
}
ul{
    list-style: none;
    display: inline-block;
}
ul > li {
    display: inline-block;
    padding: 4px 16px;
    border-radius: 50px;
}
.mod{
    position: absolute;
    top: 24px;
    left: 33%;
    margin: 0, 16px;
    text-align: center;
}
.menu{
    position: absolute;
    top: 24px;
    right: 64px;
}
.nav li:hover {
    background-color: lightgray;
}
/*List cars*/
.container{
    height: 100vh;
}
.container img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.desc{
    opacity: 0.8;
    position: absolute;
    width: 100vw;
    max-width: 100%;
    text-align: center;
    top: 20%;
}
.desc h2{
    font-size: 40px;
}